html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/*---- override font icon -------*/
i.fa {
    color: #c0c0c0;
}

ul.toolbar {
	list-style: none;
	background: transparent;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

ul.toolbar li:first-child {
	margin-top: 0.5em;
}

ul.toolbar li {
	cursor: pointer;
	color: #c0c0c0;
	font-size: 1em;
	padding: 0.5em 0 0.5em 0;
}

ul.toolbar li:hover i,
ul.toolbar li:hover {
/*	color: #FFDEAA;*/
	color: #008573;
	font-weight: 700;
}

ul.toolbar li.active i,
ul.toolbar li.active {
/*	color: #1D7F78;*/
/*	background: #fff;*/
	background: #008573;
	color: #fff;
	font-weight: 700;
}

ul.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.list li {
	cursor: pointer;
	padding: 0.25em 0 0.25em 0.5em;
	font-size: 0.9em;
}

ul.list li:first-child {
	margin-top: 0.25em;
}

ul.list li.active:hover,
ul.list li.active {
	background: #008573;
	color: #fff;
	font-weight: 700;
}

ul.list li:hover {
/*	background: #ececec;*/
	color: #008573;
	font-weight: 700;
}

/*---- triangle -----------*/
.user_list .triangle:before {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 67px;
    right: -20px;
    border: 10px solid #e0e0e0;
    border-color: transparent transparent transparent #a0a0a0;
}

.user_list .triangle:after {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 67px;
    right: -18px;
    border: 10px solid #e0e0e0;
    border-color: transparent transparent transparent #fff;
}

/*----override foundation.css-----*/

.tabs dd a {
    bottom: -1px;
    z-index: 100;
    position: relative;
}

.tabs dd.active a {
    background-color: #fff;
    color: #222;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tabs.vertical dd.active a {
    background-color: #fff;
    color: #222;
    border: none;
}

.tabs-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #ccc;
}


/*----end override foundation.css-----*/

.main_frame {
    width: 100%;
    height: 100%;
}

.left-toolbar,
.left-title {
	position: relative;
	float: left;
	height: 100%;
/*	background: #008573;*/
	background: #fff;
	border-right: 1px solid #eee;
}

.left-toolbar {
	width: 50px;
	z-index: 10;
}

.right {
    float: left;
    height: 100%;
    padding-top: 1em;
}

.left-title {
    width: 160px;
    border-right: solid 1px #e0e0e0;
    background: #fff;
}

.left-title .list_container {
    position: absolute;
    height: 100%;
    width: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*------ define scroll bar ----------*/
textarea::-webkit-scrollbar,
.message_area .body::-webkit-scrollbar,
.left-title .list_container::-webkit-scrollbar {
    width: 2px;
    height: 15px;
    background: transparent;
    border: none;
}

textarea::-webkit-scrollbar,
.message_area .body::-webkit-scrollbar,
.left-title .list_container::-webkit-scrollbar {
    background: c0c0c0;
}

textarea::-webkit-scrollbar-thumb,
.message_area .body::-webkit-scrollbar-thumb,
.left-title .list_container::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
    border-radius: 80px;
}

textarea::-webkit-scrollbar-thumb,
.message_area .body::-webkit-scrollbar-thumb,
.left-title .list_container::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 1px solid #909090;
}

.left-title .list_header {
    display: inline-block;
    width: 100%;
    margin-top: 1.5em;
    line-height: 1em;
}

.left-title .list_header span {
    margin-left: 0.5em;
    font-weight: 700;
}

.left-title .list_header .btn {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 0.5em;
    border-radius: 0.5em;
    width: 1.2em;
    height: 1em;
    border: 1px solid #e0e0e0;
    text-align: center;
    line-height: 1em;
}

.left-title .list_header .btn:hover {
    border-color: #009cbb;
}

.left-title .list_header a {
    color: #a0a0a0;
}

.left-title .list_header a:hover {
    color: #009cbb;
}

.right {
    width: 50px;
    float: right;
    border-left: solid 1px #e0e0e0;
    background-color: #fff;
}

.user_list {
    position: absolute;
    top: 2em;
    display: none;
    background: #fff;
    z-index: 1000;
    border: 1px solid #909090;
    border-radius: 5px;
    padding: 1em;
    right: 45px;
    max-height: 80%;
    width: 220px;
}

.main {
    margin-left: 210px;
    margin-right: 50px;
    height: 100%;
    width: auto;
}

.main .message_board_toolbar,
.main .desc_bar,
.main .send_area {
    position: absolute;
    background: white;
    left: 210px;
    right: 50px;
}

.main .message_board_toolbar {
    top: 0;
    height: 3em;
    padding: 0.5em;
	border-bottom: 1px solid #e0e0e0;
}

.main .message_board_toolbar .chan_desc{
    font-weight: 700;
    color: #909090;
    font-size: 1em;
}

.main .msg_board_container {
    top: 3em;
    bottom: 4rem;
	position: absolute;
	left: 210px;
	right: 50px;
	background: #fff;
}

.msg_board_container .message_area {
	top: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
}

.main .send_area {
    bottom: 0;
    padding: 0.5em 0 0.5em 0;
}

.message_area .body {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.head_img {
    margin: 0.5em;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #fff;
	background: #fff;
}
/*-------message_item---------*/

.message_item {
    width: 100%;
    position: relative;
    margin: 0.5em 0 0 0;
    float: left;
}

.message_head {
    float: left;
}

.message_head_img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 0.25em 0.5em 0.5em 0.5em;
}

.message_container {
    clear: right;
    line-height: 1em;
    margin-left: 48px;
}

.message_tip {
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    display: inherit;
    color: #ccc;
}

.message_tip .message_name {
    font-weight: 700;
    color: #999;
}

.message_content {
    width: inherit;
    word-break: break-all;
}

ul.buttons {
    list-style-type: none;
    margin-top: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul.buttons li {
    cursor: pointer;
    padding: 0.5em 0 0.5em 0;
    font-size: 1em;
}

ul.buttons li:hover > i.fa {
    color: rgb(0, 133, 222);
}

ul.buttons li.active > i.fa {
    color: rgb(0, 133, 222);
}

i.icon-button{
	cursor: pointer;
}

i.icon-button:hover{
	color: rgb(0, 133, 222);
}

i.align-right {
	float: right;
	margin-right: 0.5em;
}

/*------user item -------*/

a.user_item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1px;
/*    border-bottom: 1px solid #e0e0e0;*/
}

a.user_item:hover {
    background: #e0e0e0;
}

.left-title .left-to-right-show {
	-webkit-animation: 0.3s leftToRightShow;
	animation: 0.3s leftToRightShow;
	left: 0;
}

.left-title .left-to-right-hide {
	-webkit-animation: 0.3s leftToRightHide;
	animation: 0.3s leftToRightHide;
	left: 160px;
}

@-webkit-keyframes leftToRightShow {
  0% { left: -160px;}
  100% { left: 0px; }
}

@keyframes leftToRightShow {
  0% { left: -160px;}
  100% { left: 0px; }
}

@-webkit-keyframes leftToRightHide{
  0% { left: 0px;}
  100% { left: 160px; }
}

@keyframes leftToRightHide {
  0% { left: 0px;}
  100% { left: 160px; }
}

.message_area.left-to-right-show {
	-webkit-animation: 0.3s msgAreaLeftToRightShow;
	animation: 0.3s msgAreaLeftToRightShow;
	left: 0;
	z-index: 0;
}

.message_area.left-to-right-hide {
	-webkit-animation: 0.3s msgAreaLeftToRightHide;
	animation: 0.3s msgAreaLeftToRightHide;
	left: 1800px;
	z-index: 1;
}

@-webkit-keyframes msgAreaLeftToRightShow {
  0% { left: 200px; opacity: 1;}
  100% { left: 0; }
}

@keyframes msgAreaLeftToRightShow {
  0% { left: 200px; opacity: 1;}
  100% { left: 0; }
}

@-webkit-keyframes msgAreaLeftToRightHide{
  0% { left: 0; opacity: 0;}
  100% { left: 200px; opacity: 0;}
}

@keyframes msgAreaLeftToRightHide {
  0% { left: 0; opacity: 0;}
  100% { left: 200px; opacity: 0;}
}


