html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_frame {
    width: 100%;
    height: 100%;
}

.left,
.right {
    float: left;
    width: 220px;
    height: 100%;
    background: blue;
    border-right: 1px solid red;
}
.right {
    float: right;
    border-left: 1px solid red;
}

.main {
    margin: 0 230px;
    background: white;
    height: 100%;
    margin: 0;
}