<div style="text-align: center;max-width: 600px;margin: 0 auto;margin-top: 10em;">
    <dl class="tabs" data-tab>
        <dd class="active"><a href="#signInPanel">Sign In </a>
        </dd>
        <dd><a href="#signUpPanel">Sign Up</a>
        </dd>
    </dl>
    <div class="tabs-content">
        <div class="content active" id="signInPanel">
            <div class="row collapse">
                <div class="small-3 large-2 columns">
                    <span class="prefix">User Name</span>
                </div>
                <div class="small-9 large-10 columns">
                    <input type="text" placeholder="Enter your name...">
                </div>
            </div>

            <div class="row collapse">
                <div class="small-3 large-2 columns">
                    <span class="prefix">Password</span>
                </div>
                <div class="small-9 large-10 columns">
                    <input  type="password" placeholder="Enter your password...">
                </div>
            </div>
            <a class="button" style="position: relative;float: right;"> Go </a>
        </div>
        <div class="content" id="signUpPanel">
            <div class="row collapse">
                <div class="small-3 large-2 columns">
                    <span class="prefix">User Name</span>
                </div>
                <div class="small-9 large-10 columns">
                    <input type="text" placeholder="Enter your name...">
                </div>
            </div>

            <div class="row collapse">
                <div class="small-3 large-2 columns">
                    <span class="prefix">Password</span>
                </div>
                <div class="small-9 large-10 columns">
                    <input  type="password" placeholder="Enter your password...">
                </div>
            </div>
            <a class="button" style="position: relative;float: right;"> Go </a>
        </div>
    </div>
</div>