<div class="main_frame">
    <div class="left">

        <div>
            <img src="/images/anzhihun.png" / class="head_img"> <span style="color: white;font-size: 1.5em;">anzhihun</span>
        </div>
        <div style="width:100%;">
            
            <dl class="tabs vertical" data-tab style="max-width:100%; width:100%;">
                Channels
                <dd class="active"><a href="#panel1">Tab 1</a></dd>
                <dd><a href="#panel2" style="background: transparent;">Tab 2</a></dd>
                <dd><a href="#panel3" style="background: transparent;">Tab 3</a></dd>
                <dd><a href="#panel4" style="background: transparent;">Tab 4</a></dd>
            </dl>
        </div>

    </div>

    <div class="right">users</div>

    <div class="main">
        <div class="message_area">
            <h1>Messages: </h1>
            <div class="body">
            </div>
        </div>


        <div class="send_area">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" style="margin:0; padding:0;" placeholder="message">
                        </div>
                        <div class="small-2 columns">
                            <a class="button postfix" style="margin:0; padding:0;">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>