<div class="main_frame">
    <div class="left">

        <div id="curUser">
            <img src="/images/anzhihun.png" class="head_img"> <span style="color: white;font-size: 1.5em;">anzhihun</span>
        </div>
		
        <div id="channelList" style="width:100%;">
            
            <span style="margin-left:1em;">Channels</span><a id="showAddChanDlgBtn" style="position: relative;float: right;margin-right: 1em;color: white;cursor: pointer;">+</a>
            
            <div id="addChannelDialog" class="reveal-modal" data-reveal>
                <h2>Add new channel</h2>
                <p>Channel Name <input id="newChannelNameInput" type="text"/></p>
                <a id="addChannelButton" class="button" style="position: relative;float: right;">Add</a>
            </div>
            
            <dl class="tabs vertical" data-tab style="max-width:100%; width:100%;">
                <dd class="active"><a href="#panel1">Global</a></dd>
            </dl>
            
            <hr></hr>
        </div>
	
		<div id="directList">
			<span style="margin-left:1em;">Direct messages</span>
			<dl class="tabs vertical" data-tab style="max-width:100%; width:100%;">
            </dl>
		</div>

    </div>

    <div class="right"><span>users</span><a id="inviteUsers" style="position: relative;float: right;margin-right: 1em;color: white;cursor: pointer;">+</a></div>

	<div id="inviteUserDialog" class="reveal-modal" data-reveal>
	</div>

    <div class="main">
		<!-- here is message body -->
        <div class="send_area">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <textarea id="msgInput" maxlength="" autocorrect="off" autocomplete="off" spellcheck="true" style="height:57px;margin:0; padding:0; resize:none !important;" placeholder="message"></textarea>
                        </div>
                        <div class="small-2 columns">
                            <a class="button postfix" style="margin:0; padding:0;height: 100%;line-height: 57px;" id="sendMsgBtn">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>