<div class="main_frame">
    <div class="left">channels</div>
    <div class="right">users</div>
    <div class="main">
        <div class="message_area">
            <h1>Messages: </h1>
            <div class="body">
            </div>
        </div>
        
        
        <div class="send_area">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" style="margin:0; padding:0;" placeholder="message">
                        </div>
                        <div class="small-2 columns">
                            <a class="button postfix" style="margin:0; padding:0;">Send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>