<div id="{{id}}">

	<div class="list_header">
		<span>{{strings.MAIN_FRAME_LBL_CHANNELS}}</span><i id="showAddChanDlgBtn" class="fa fa-plus-circle icon-button align-right"></i>
	</div>

	<div id="addChannelDialog" class="reveal-modal" data-reveal>
		<h2>{{strings.MAIN_FRAME_LBL_ADD_NEW_CHANNEL}}</h2>
		<p>{{strings.MAIN_FRAME_LBL_CHANNEL_NAME}}
			<input id="newChannelNameInput" type="text" />
		</p>
		<a id="addChannelButton" class="button" style="position: relative;float: right;">{{strings.MAIN_FRAME_BTN_ADD}}</a>
	</div>
	
	<ul class="list">
		<li></li>
	</ul>

</div>