<div class="main_frame">
	
	<div class="left-toolbar">
		<div id="curUser" class="cur_user">
			<img title="userName" src="/images/anzhihun.png" class="head_img"> 
        </div>
		<ul class="toolbar">
			<li data-id="star" title="marked"><i class="fa fa-star-o"></i></li>
			<li data-id="channel" title="channels">#</li>
			<li data-id="direct" title="direct message"><i class="fa fa-at"></i></li>
			<li data-id="achived" title="achived"><i class="fa fa-database"></i></li>
		</ul>
	</div>
	
    <!-- left bar -->
    <div class="left-title">
<!--
        <div class="list_container">
        </div>
-->
    </div>

    <!-- right bar -->
    <div class="right">
        <ul class="buttons">
            <li id="searchBtn"><i class="fa fa-search"></i></li>
            <li id="configureBtn"><i class="fa fa-cog"></i></li>
            <li id="showAllUser"><i class="fa fa-users"></i></li>
        </ul>
    </div>

    <div class="user_list"></div>

    <div id="inviteUserDialog" class="reveal-modal" data-reveal>
    </div>

    <!-- middle message area -->
    <div class="main">
		<div class="message_board_toolbar">
			<span></span>
			<i id="inviteUserBtn" class="fa fa-user-plus icon-button align-right"></i>
		</div>
		<div class="msg_board_container"></div>
        <!-- here is message body -->
        <div class="send_area">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <textarea id="msgInput" maxlength="" autocorrect="off" autocomplete="off" spellcheck="true" style="height:57px;margin:0; padding:0; resize:none !important;" placeholder="{{strings.MAIN_FRAME_TIP_MSG_INPUT}}"></textarea>
                        </div>
                        <div class="small-2 columns">
                            <a class="button postfix" style="margin:0; padding:0;height: 100%;line-height: 57px;" id="sendMsgBtn">{{strings.MAIN_FRAME_BTN_SEND_MSG}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>