html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*----override foundation.css-----*/

.tabs dd a {
    bottom: -1px;
    z-index: 100;
    position: relative;
}

.tabs dd.active a {
    background-color: #fff;
    color: #222;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tabs.vertical dd.active a{
    background-color: #fff;
    color: #222;
    border: none;
}

.tabs-content {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #ccc;
}

/*----end override foundation.css-----*/

.main_frame {
    width: 100%;
    height: 100%;
}

.left,
.right {
    float: left;
    width: 220px;
    height: 100%;
    background: #6699cc;
}
.right {
    float: right;
}

.main {
    margin-left: 220px;
    margin-right: 220px;
    height: 100%;
    width: auto;
}

.main .message_area,
.main .send_area {
    position: absolute;
    background: white;
    left: 220px;
    right: 220px;
}

.main .message_area{
    top: 0;
    bottom: 3.3125rem;
/*    overflow: auto;*/
}

.main .send_area{
    bottom: 0;
    padding: 0.5em 0 0.5em 0;
}

.message_area .body {
    overflow: auto; 
    position:absolute; 
    top:61px; 
    bottom:0; 
    width:100%;
}

.head_img {
    margin: 0.5em;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ccc;
}

/*-------message_item---------*/
.message_item {
    width: 100%;
    position: relative;
    margin: 0.5em 0 0 0;
}

.message_head {
    position: relative;
    float: left;
}

.message_head_img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 0.25em 0.5em 0.5em 0.5em;
}

.message_container {
    position: relative;
    float: left;
    clear: right;
    line-height: 1em;
}

.message_tip {
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    display: inherit;
    color: #ccc;
}

.message_tip .message_name {
	font-weight: 700;
	color: #999;
}

.message_content {
    
}

/*------user item -------*/
a.user_item {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-left: 2px solid #006cba;
    margin-bottom: 1px;
}
